@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: lab(30.797% -29.6927 17.382);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Універсальна стилізація стрілок */
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: var(--primary); /* тут постав свій колір — hex, rgb, або навіть tailwind класом якщо хочеш */
}

/* Якщо хочеш змінити розмір іконок */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px; /* кастомний розмір стрілок */
}

.swiper .swiper-pagination-bullet {
  background-color: var(--foreground);
}
.swiper .swiper-pagination-bullet-active {
  background: var(--primary);
}
